		.bar {
		  fill: steelblue;
		}
		
		.bar:hover {
		  fill: brown;
		}
		
		.axis--x path {
		  display: none;
		}
		
		.axis path, .axis line {
			fill: none;
			stroke: black;
			shape-rendering: crispEdges;
		}
			
		.axis text {
			font-family: sans-serif;
			font-size: 11px;
		}
			
		.svg-container {
		    display: inline-block;
		    position: relative;
		    width: 100%;
		    height: 300px;
		    vertical-align: top;
		    overflow: hidden;
		}
		
		.svg-content {
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    left: 0;
		}
		
		.line {
		 	fill: none;
		 	stroke: steelblue;
		 	stroke-width: 1.5px;
		}
		
		.arc text {
			font: 10px sans-serif;
			text-anchor: middle;
		}

		.arc path {
		  stroke: #fff;
		}
		
		.chart-title {
			font-size: 16px;
		}

.fa-widget-edit {
	font-size: 1.5em;
	margin: 5px;
}
		
.fa-widget-close {
	margin: 5px;
	font-size: 1.5em;
}