.navbar-default {
    background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > .btn {
	padding: 5px;
	margin-top:10px;
	margin-left: 5px;
	margin-right: 5px;
    color: #222;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #ccc;
}

.navbar-default img {
	max-height: 30px;
	line-height: 40px;
	padding-right: 5px;
}

.icon-bar {
	background-color: #fff;
}

.thick {
	font-weight: 800;
}

.navbar-header > .navbar-brand > img {
	display: inline;	
}

/* Collapse menu bar */

.collapsed .navbar-header {
    float: none;
}
.collapsed .navbar-toggle {
    display: block;
}
.collapsed .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.collapsed .navbar-collapse.collapse {
    display: none!important;
}
.collapsed .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.collapsed .navbar-nav>li {
    float: none;
}
.collapsed .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.alist {
	float: left;
	/*width: 280px; */
	margin-left: 5px;
	margin-right:5px;
}

/* Deleted surveys */
tr.deleted td a {
	color: red !important;
}

#formList .error > .panel-heading, #formList .error.option {
	color:#a94442;
	background-color:#f2dede;
	border-color:#ebccd1;
}

#formList .warning > .panel-heading, #formList .warning.option {
	color:#a94442;
	background-color:#ff8533;
	border-color:#ebccd1;
}

.danger {
	background-color:red;
	border-color:red;
	color: white;
}

.warning {
	background-color:orange;
	border-color:orange;
	color: white;
}

.blocked {
	opacity: 0.5;
}

.maxwidth {
	width: 100%;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.statusbar {
	position:fixed;
	top:50px;
	background-color: #2C3D29;
	color: white;
	max-height:50px;
	line-height: 50px;
	z-index: 10;
	width: 100%;
}


/*
 *--------------------------------------------------------------------------------
 * Panel settings for the editor
 */
 
 .spreadsheet_editor {
 	border-style: solid;
 	border-width: 1px;
 	border-color: #ccc;
 	padding: 5px;
 	
 }
 
 #validate-success {
  position:absolute;
     width:200px;
     height:100px;
     z-index:100;
     top:50%;
     left:50%;
     margin:-50px 0 0 -100px;
     background-color: #009933;
 }
 
 #validate-success > p {
     text-align: center;
     vertical-align: middle;
     color: #fff;
 }


/* Layout */
#toolbar {
	width:0px;	
	display: none;
	transition: all 0.3s ease 0s;
}
#toolbar .btn {
	font-size: 0px;
}

#content > .container-fluid {
 	padding-left: 0px;
 	transition: all 0.3s ease 0s;
 }


@media only screen and (min-width: 768px) {
	 #toolbar {
	    width:150px;
	    display: block;
	    transition: all 0.3s ease 0s;
	 }
	 #toolbar .btn {
		font-size: 10px;
	 }
	 #content > .container-fluid {
 		padding-left: 160px;
 		transition: all 0.3s ease 0s;
 	}
}

@media only screen and (min-width: 999px) {
	 #toolbar {
	    width:200px;
	 }
	  #toolbar .btn {
		font-size: 10px;
	 }
	 #content > .container-fluid {
 		padding-left: 220px;
 	}
}
 #toolbar {
   
    height:90%;
    padding:10px;
    background:#eee;
   /* margin-left:-250px; */
    position: fixed;
    overflow-y: auto;
    top: 55px;
    z-index: 1000;
    transition: all 0.4s ease 0s;
   	border-style: solid;
	border-width: 2px;
	border-color: #ccc;
}
 
 #edit_statusbar {
	position:fixed;
	top:50px;
	width:100%;
	height:100px;
	z-index: 10;
}

#formList {
	position: relative;
	top: 55px;
}
 #formListHeader {
 	padding-bottom: 0px;
 }
 #formListHeader .table {
	margin-bottom: 0px;
}
#formList .table {
 	margin-bottom: 0px;
 }
 
.header_style {
	background-color: #2C3D29;
    border-color: #e7e7e7;
    color: #fff;
}


*/
#formList .panel-heading {
	cursor: move;
}

.editor_element {
	position: relative;
}

.first_element {
	margin-top: 20px;
}

.add_before_button {
  width: 100%;
  height: 10px;
  text-align: center;
  padding-top: 6px;
  font-size: 0px;
  border-radius: 5px;
}

.add_after_button {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 5px;
}

.add_final_button {
	height: 60px;
}

.add_button:hover {
  background-color: #1556be;
  color: #fff;
}

.add_button {
  background-color: #428bca;
  color: #eee;
}

.add_drop_button {
  background-color: #d6d6d6;
  border-style: dashed;
}

.over_drop_button {
  background-color: #3366ff;
  border-style: dashed;
  height: 60px;
}

.draggable {
	cursor: move;	
}

.question-controls {
	padding: 2px;
}

li .panel-body {
	padding: 5px;
}

/*
/* Icons */

.edit_icon.glyphicon-remove-circle {
	color: red;
}

.q_icons_col .btn {
	padding: 3px 1px;
}
.edit_icon1 {
	font-size: 20px;
	margin-top: 7px;
	margin-bottom:3px;
	margin-right: 2px;
	margin-left: 2px;
	color: black;
}
.edit_icon {
	font-size: 30px;
	margin-top: 3px;
	margin-bottom:7px;
	margin-right: 2px;
	margin-left: 2px;
	color: black;
}

.full_width_btn {
	width: 100%;
}

.question_type {
	background-color: #fff;
	height: 60px;
}
.question_type.disabled {
	opacity: 0.4;
}

.question_type:hover {
	background-color: #1556be;
}

.edit_type {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom:2px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	color: black;
	transition: all 0.3s ease 0s;
	opacity: 1;
}

.edit_type_select {
	font-size: 20px;
	margin-top: 4px;
	margin-bottom:4px;
	margin-right: 0px;
	margin-left: 0px;
	color: black;
	transition: all 0.3s ease 0s;
	opacity: 1;
}

.edit_image {
	height: 40px;
	margin-top: 8px;
	margin-bottom:1px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 0.3s ease 0s;
	opacity: 1;
}

.edit_image_select {
	height: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 0px;
	margin-left: 0px;
	transition: all 0.3s ease 0s;
	opacity: 1;
}

.edit_type:hover, .edit_image:hover {
	opacity: 0.3;
}

li.panel {
	margin-bottom: 0px;
	
}
.margin-bottom {
	margin-bottom: 15px;
}

.qname,.oname {
	width: 100%;
	height: 60px;
}

.question > button, .question > .row > div > button {
	color: #fff;
	font-size: 2em;
	width: 100%;
	height: 60px;
}

button.prop_no {
	background-color: #ff5e4d;
}

button.prop_yes {
	background-color: #4baf1b;
}

textarea {
	width: 100%;
	overflow: hidden; 
	word-wrap: break-word; 
	resize: vertical; 
	height: 60px;
}

.fileupload-progress > .progress {
	margin-bottom: 0px;	
}

#mediaModal > .modal-dialog{
    width: 95%;
    height: 95%;
}

.emptyMedia {
	background-color: grey;
	color: #ccc;
	display: table-cell;
	width: 100px;
	height: 80px;
	/*margin: 5px;*/
	border-style: solid;
	border-width: 5px;
	border-color: #ccc;
	float: none;
    margin: 0 auto;
    float: none;
    vertical-align: middle;
}

.naMedia {
	background-color: grey;
	color: #ccc;
	display: table-cell;
	width: 100%;
	height: 30px;
	/*margin: 5px;*/
	border-style: solid;
	border-width: 5px;
	border-color: #ccc;
	float: none;
    margin: 0 auto;
    float: none;
    vertical-align: middle;
}

.preview {
	height: 100px;
}

#map {
	height: 368px;
	width: 100%;
}

.panel-success .error-msg, .editor_element .error-msg {
	display: none;
}

.warning .error-msg, .error .error-msg, .editor_element.option_error .error-msg {
	display: inline;
}

.selectquestion {
	background-color: #ffffcc;
}

div > input.colgroup {
	padding-right: 5px;
}

/* Tasks */
.task_group_name {
	width: 200px;
	line-height: 1.7em;
	font-size: 1.2em;
	border: 1px solid #a1a1a1;
	background-color: rgba(0, 60, 136, 0.5);
	margin: 2px;
	padding: 2px;
	display: inline-block;
}

td.accepted {
	background-color: yellow !important;	
}
td.new {
	background-color: red !important;	
}
td.completed, td.submitted {
	background-color: green !important;	
}

.bootstrap-datetimepicker-widget {
 z-index: 100000;
 }
 
@media print
{
	#monitor {
		width: 100%;
		height: 100%;
		padding: 3px;
	}	
	
	.noPrint{ display: none; }
	
	* { float: none !important; }
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* Fix for z-index of drop downs */
.navbar-static-top {
	z-index: 10000;
	position: relative;
}

#up_alert {
	margin-top: 5px;
}

.labelProp[readonly] {
	background-color: lightgrey;
}



.project_list {
	margin-bottom: 10px;
}

.tab_controls {
	margin-bottom: 50px;
}

.fileupload-buttonbar {
	margin-top: 5px;
	margin-bottom: 5px;
}

/*************************************/
/* Changes Page */
.change_failed {
	color:#a94442;
	background-color:#f2dede;
	border-color:#ebccd1;
}

/************************************/
/* Registration */

#tandc h1 {
	font-size: 1.5em;
	font-weight: bold;
}

.role_select {
	
}


